@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <h2>Welcome to my site</h2>
    <marquee direction="right">Solange - Losing You.</marquee>
    
    <iframe width="1000" height="450" src="https://www.youtube.com/embed/Hy9W_mrY_Vk?si=az_RSCE8CCnJPmAS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>

<div class="text-center">
    <p>
        <button onclick="myMove()">Click to Animate</button>
    </p>
</div>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>




